.navigation {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color:beige;

    .logo-container {
        padding: 10px 0px 0px 25px;
        height: 100%;
        width: 70px;

        .logo {
            max-width: 50px;
            max-height: 50px;
        }
    }

    .nav-links-container {
        margin-right: 50px;
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .nav-links {
            padding: 10px 15px;
            cursor: pointer;
        }
    }
}