body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
 /*  background: linear-gradient(to left, red, green); */
}

.app-title {
  margin-top: 25px;
  margin-bottom: 50px;
  font-size: 75px;
  color: black;
  text-align: center;

}